$animationDuration: 0.2s;

.container {
  cursor: pointer;
  position: relative;

  width: 80px;
  height: 102.9px;
  margin-bottom: 5px;

  * {
    transition: $animationDuration linear;
  }

  .background {
    height: 100%;
    background: url("../../Resources/Images/card.jpg");
    background-size: cover;
    transition-delay: $animationDuration;
  }

  img {
    top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    transform: rotateY(90deg);
  }

  &.opened {
    .background {
      transform: rotateY(90deg);
      transition-delay: 0s;
    }

    img {
      transform: rotateY(0);
      transition-delay: $animationDuration;
    }
  }

  &.removed {
    visibility: hidden;
  }

  @media only screen and (max-width: 649px) {
    width: 70px;
    height: 90px;
  }
}
