.container {
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.5);

  padding: 15px;

  .content {
    animation: appear 0.3s linear;

    margin: 0 auto;
    border-radius: 4px;
    background-color: #e3cd92;
    border: solid 2px #000000;
    background: url("../../Resources/Images/modal_background.png");
    width: 296px;

    padding: 15px;

    img {
      width: 100%;

      margin-bottom: 15px;
    }

    .title {
      font-size: 20px;
      font-weight: bold;;
      letter-spacing: 0.6px;
      text-align: center;
      color: #000000;

      margin-bottom: 5px;
    }

    .subtitle {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.7px;
      text-align: center;
      color: #000000;
      text-transform: uppercase;

      margin-bottom: 5px;
    }

    .description {
      font-size: 15px;
      line-height: 1.33;
      text-align: center;
      color: #000000;
    }

    .button {
      margin: 10px auto;
      cursor: pointer;

      width: 130px;
      height: 32px;
      border-radius: 4px;
      background-color: #000000;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 15px;
      font-weight: bold;
      color: #ffffff;
    }
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
