.container {
  max-width: 650px;
  width: 100%;
  height: 520px;
  border-radius: 2px;
  background-color: #f2f2f2;
  margin: 0 auto;
}

body {
  margin: 0;

  * {
    font-family: 'Proxima Nova Cn Lt', sans-serif;
  }
}
